html{
    background-color:darkslategray;
    color:cornsilk;
}
body {
    margin: 0 auto;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}